# Environment
NODE_ENV=development

# AWS
AWS_REGION=eu-central-1
DYNAMODB_ENDPOINT=http://localhost:8000

# Server
PORT=3001

# Cognito (added in M2)
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=

# S3 (added in M4)
S3_ORIGINALS_BUCKET=
S3_RESIZED_BUCKET=

# SNS (added in M5)
SNS_TASK_ASSIGNED_TOPIC_ARN=
